.search-form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 70vw;
  font-size: 25px;
  letter-spacing: 0.25px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 40px;
  box-shadow: 1px 1px 15px 1px rgb(200, 200, 200);
  font-family: 'Montserrat', sans-serif;
}

.search-input::placeholder {
  letter-spacing: .3px;
}

label {
  font-size: 30px;
}